@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap');

body{
    background: #bbe4e9;
}
.container{
    display: flex;
    flex-direction: column;
    background: #34495e;
    height: 500px;
    width: 300px;
    margin: auto;
    margin-top: 100px;
    box-shadow: 5px 10px 18px #3c4245;
    border-radius: 20px;
}
.screen{
    width: 250px;
    height: 60px;
    background: white ;
    align-self: center;
    margin-top: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: end;
    align-items: center;
    
}
.screen-content{
    font-family:'Roboto', sans-serif;;
    margin-right: 8px;
    margin-left: 6px;
    font-size: 30px;
    font-weight: 900;
    color: #34495e;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}
.buttons-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    border: none;
    background: #34495e;
}

.button , .btn{
    font-family: 'Roboto', sans-serif;
    height: 70px;
    width: 60px;
    border: #bbe4e9 solid;
    background: #bbe4e9;
    border-radius: 15px;
    margin-top: 5px;
    color: #34495e;
    font-weight: bolder;
    font-size: 25px;
}
.button:hover{
    filter: brightness(80%);
}
.btn:hover{
    filter: brightness(80%);
}
.button:focus{
    border: #c24d2c solid;
}
.btn:focus{
    border: #c24d2c solid;
}
#operator:focus{
    border: #c24d2c solid;
}

#operator {
    border: #393939 solid;
    background: #393939;
    color: #bbe4e9 ;
    
}
#clear-button {
    height: 40px;
    width: 124px;
}